<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- 客户端 -->
    <bean id="sayHelloService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <!-- 重载方法支持 不然会抛出异常  :Caused by: com.caucho.hessian.io.HessianProtocolException:  is an unknown code -->
        <property name="overloadEnabled" value="true"/>
        <property name="serviceUrl" value="http://localhost:8080/spring_hessian/sayHelloService.hessian"/>
        <!-- 服务接口 -->
        <property name="serviceInterface" value="com.service.ISayHelloService"/>
    </bean>
</beans>  